<div class="form-group">
<%= form_for :session, url: session_path do |form| %>
  <div class="text-field">
    <%= form.text_field :email, type: 'email', class: 'form-control-form', placeholder: 'Email'%>
  </div>

  <div class="password-field">
    <%= form.password_field :password, class: 'form-control-form', placeholder: 'Password' %>
  </div>

  <div class="submit-field">
    <%= form.submit :Login, class: 'btn-lgin', placeholder: 'Login'  %>
  </div>

  
<% end %>

</div>

