<div class="buffer">
  <h3>Edit listing</h3>
  
  <%= form_for @listing, url: {action: "update"} do |f| %>
    <%= render '/listings/form', f: f %>
  <% end %>
  <%= link_to 'Back', listings_path %>
  
</div>