<div class="text-field">
  	<%= form.text_field :full_name, type: 'text', class: 'form-control-form', placeholder: 'Full Name'  %>
    <small id="" class="form-text text-muted">(We'll never share your email with anyone else.)</small>
</div>

<div class="text-field">
    <%= form.text_field :email, type: 'email', class: 'form-control-form', placeholder: 'Email'%>
</div>

<div class="password-field">
    <%= form.password_field :password, class: 'form-control-form', placeholder: 'Password' %>
</div>

<div class="submit-field">
    <%= form.submit :'Sign Up', class: 'btn-lgin', placeholder: 'Login'  %>
</div>



