<h1>New Listing Image</h1>

<%= form_with scope: :listing_image, url: new_listing_listing_image_path(params[:listing_id]), local: true do |f| %>

	<%= render 'form' %>

<% end %>

<%= link_to 'Back', listings_path %>