/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.header-tp {
  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
  }
  .navbar-default {
    background-color: #1DB9EC;
    border-color: transparent !important;
  }
  .bdr li {
    &:nth-child(odd) {
      border-left: 1px solid rgba(255, 255, 255, 0.44);
    }
    &:nth-child(even) {
      border-right: 1px solid rgba(255, 255, 255, 0.44);
      border-left: 1px solid rgba(255, 255, 255, 0.44);
    }
    padding: 10px 0px;
    a {
      color: #fff !important;
    }
  }
  .pddr {
    padding-top: 5px;
  }
  .navbar-right {
    float: right !important;
    margin-right: 30px;
  }
  .nav > li {
    position: relative;
    display: inline-block;
  }
}

.btn-blu {
  display: inline-block;
  padding: 10px 35px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: #0D4459;
  border-color: #0D4459;
  color: #fff;
}

.mrgn-top {
  margin-top: 15px;
  margin-right: 15px;
}

.header-tp {
  margin: 10px 0px;
}

/*######################## LOGIN/SIGNUP PAGE START ##################################*/

.at-login-form {
  .btn-fb {
    display: inline-block;
    padding: 18px 20px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #4568B2;
    width: 100%;
    margin-top: 10px;
    color: #fff;
  }
  .btn-gp {
    display: inline-block;
    padding: 18px 20px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #333;
    border-radius: 0px;
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 10px;
    color: #000;
  }
  .btn-lgin {
    display: inline-block;
    padding: 18px 20px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #eee;
    border-radius: 0px;
    // background-color: #1DB9EC;
    background-color: #FF5A5F;
    width: 100%;
    margin-top: 10px;
    color: #fff;
  }
  .close span{
    font-size: 40px;
    line-height: 0.5;
    text-shadow: 2px 2px 2px #1b2538;
    opacity: .8;
  }
  .signup-or-separator {
    background: none;
    height: 34px;
    position: relative;
    text-align: center;
  }
  .signup-or-separator--text {
    background-color: #fff;
    display: inline-block;
    padding: 8px;
  }
  .h6 {
    font-size: 14px;
    font-weight: bold;
    color: #757575;
    line-height: 1.1;
    text-rendering: optimizelegibility;
  }
  .signup-or-separator hr {
    margin: -25px auto 10px;
    width: 100%;
  }
  .form-control-form {
    display: block;
    width: 100%;
    height: 54px;
    padding: 15px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-top: 3px;
  }

  #input-font-awesome{
   float: right;
   padding-right: 15px;
   margin-top: -35px;
   position: relative;
   z-index: 2;
   color: gray
  }

  .frgt-pswd {
    margin: 5px 0 10px;
    color: red;
  }
  .btn-gst {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #000;
    border-radius: 0px;
    background-color: transparent;
  }
  .ta-l {
    text-align: left;
    margin-top: 5px;
  }
  .modal-dialog {
    width: 500px;
    margin: 30px auto;
  }
  .modal-content {
    padding: 0px 10px;
    border: 2px solid #ccc;
  }
  .modal-header {
    padding: 20px 20px;
    border-bottom: 0px solid #e5e5e5;
  }
}

.blue-bg-nav {
  background-color: #1DB9EC;
}