/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// @import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "nav_bar.scss";
@import "footer.scss";
@import "footer.scss";
@import "listings.scss";
// @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
// @import url('https://fonts.googleapis.com/css?family=Circular:400,700');


body, html {
    font-family: 'Circular', sans-serif;
    font-size: 14px;
    // margin: auto;
    color: #484848;
    background-color: #ffffff;
    line-height: 1.7;
}

.container {
  width: auto;
  margin: auto;
  // padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  clear:both;
  margin: 0px;
}





