#footer {
  background-image: url(https://a0.muscache.com/airbnb/static/footer/background-317dd7c2cb678ddbdb0a983d511cb9a0.png);
  background-color: #2b2d2e;
  color: #fff;
}

.col-2 {
  padding-left: 150px;
  // width: 300px;
  float:left;
}

.col-3 {
  padding-left: 100px;
  // width: 240px;
  float:left;
}
.offset-1 {
  margin-left: 80px;
}

.top-footer {
  padding: 50px 0;
  border-bottom: 1px solid #555758;
}

select {
  width: 240px;
  height: 40px;
  background-color: #565A5C;
  font-family: sans-serif;
  color: #fff;
  padding-left: 10px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
}
ul{
  margin: 0;
  padding:0;
  list-style: none;
}
h4 {
  margin:0 0 15px;
}
h5 {
  text-align: center;
  font-size: 1.125em;
  margin-bottom: 10px;
}
.list li {
  font-size: 0.875em;
  line-height: 1.25em;
  letter-spacing: 0.75px;
  padding: 2px 0;
  cursor: default;
}
.list li:hover {
  color: #D6D6D6;
}
.new:after {
  content: " New";
  color: #16D1C1;
}
.social {
  text-align: center;
}
.social li{
  display: inline-block;
}
.social a {
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #474949;
  margin: 0 5px;
  color: #fff;
  transition: all .2s ease; 

}
.social a:hover {
    transform: scale(1.2);
}
.bottom-footer {
   padding-bottom: 30px;
}
.bottom-footer p{
  color: #82888A;
  text-align: center;
}

.facebook {
  background: url(https://res.cloudinary.com/zimniros-spam/image/upload/v1464710399/facebook-logo_nltwrb.svg) no-repeat 50% 50%;
  background-size: 20px 20px;
}
.google {
    background: url(https://res.cloudinary.com/zimniros-spam/image/upload/v1464710399/google-plus-logo_cmhowf.svg) no-repeat 50% 50%;
  background-size: 20px 20px;
}
.pinterest {
  background: url(https://res.cloudinary.com/zimniros-spam/image/upload/v1464710399/social_ixemm2.svg) no-repeat 50% 50%;
  background-size: 20px 20px;
}
.youtube {
  background: url(https://res.cloudinary.com/zimniros-spam/image/upload/v1464710399/social-1_jo1gvp.svg) no-repeat 50% 50%;
  background-size: 20px 20px;
}
.instagram {
  background: url(https://res.cloudinary.com/zimniros-spam/image/upload/v1464710399/instagram-social-network-logo-of-photo-camera_kensul.svg) no-repeat 50% 50%;
  background-size: 20px 20px;
}
.linkedin {
  background: url(https://res.cloudinary.com/zimniros-spam/image/upload/v1464710399/linkedin-logo_q0pudm.svg) no-repeat 50% 50%;
  background-size: 20px 20px;
}
