// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// h2 {
// 	font-weight: 800 !important;
// 	margin-bottom: 0px !important;
// 	font-size: 25px !important;
// 	line-height: 30px !important;
// 	letter-spacing: normal !important;
// 	padding-top: 2px !important;
// 	padding-bottom: 2px !important;
// 	color: rgb(72, 72, 72) !important;
// }
// .color-text {
// 	color: rgb(165, 41, 3);
// 	font-size: 12px;
// 	font-weight: 700;
// 	line-height: 16px;
// 	text-transform: uppercase;
// }
// .place-name {
// 	color: rgb(72, 72, 72);
// 	font-size: 16px;
// 	line-height: 22px;
// 	font-weight: 700;
// }
// .price {
// 	font-size: 14px;
// 	line-height: 18px;
// 	color: rgb(72, 72, 72) !important;
// }
// img {
// 	border-radius: 3px;
// }
// span {
// 	display: block;
// }
// .checked {
// 	color: rgb(0, 132, 137) !important;
// 	font-size: 9px;
// }
// .text-desc {
// 	font-size: 14px !important;
// }
// .text-color {
// 	color: rgb(255, 180, 0) !important;
// 	font-size: 12px !important;
// }
// .rating {
// 	font-size: 12px;
// }


/*-------MAIN CONTENT-----*/

.first-content{
  max-width: 1080px;
  margin: 48px auto;
  padding: 10px;
  h3{
    font-size: 26px;
    color: $dark-grey;
    margin-bottom: 24px;
}}
  
.content-row{
  display: flex;
  align-items: center;
  max-height: 375px;
}
.card-container{
  margin: 10px;
  max-height: 375px;
  min-width: 179px;
}
.card-container-img{
  flex: 1;
  img{
    max-height: 100%;
    max-width: 100%;
   }
   } 
.card-container-description{
  color: $dark-grey;
  font-size: 14px;
  font-weight: 300;
  span{
    font-size: 1rem;
    font-weight: bold;
  }
}
.card-container-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-container-ratings{
  i{
    font-size: .8rem;
    margin-right: 2px;
    color: $blue;
  }
}
.card-container-comments{
  font-size: .8rem;
  color: $dark-grey;
}
  
/*------MEDIA QUERIES----*/

@media (max-width: 1023px){ 
  .nav-logo{
    .icon-menu{
      color: $dark-grey;
      text-decoration: none;
  }
}
      
  .nav-links{
    display: none
  }
}

@media (min-width: 1024px){
  .nav-logo{
    i{
      display: none
    }
  }
}


// ============================================================================
//                BOOTSTRAP TABLE
// ============================================================================= 
#myInput {
  width: 90%;
  font-size: 14px;
  padding: 15px;
  border: 2px solid #ddd;
  margin-bottom: 12px;
  border-radius: 10px;
}

#myTable {
  // border-collapse: collapse;
  width: 90%;
  border: 2px solid #ddd;
  font-size: 14px;
  padding: 15px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 2px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}


// ==============================================================================


.list-image{
  width: 360px;
  height: 200px;
}

.main-container{
  width: auto;
  margin: auto;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;

}

.container{ 
  h3{
    padding-left: 80px;
    padding-bottom: 20px;
    font-weight: 600;
  }
}