// Place all the styles related to the listing_images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.avatar-edit{
	width: 200px;
	height: 200px;
	border: 1px solid lightgray;
	border-radius: 50%;
}