<div id="footer">
    <div class="container-footer">
    <footer class="top-footer">
      <div class="row">
        <div class="col-3 offset-1">
          <div class="dropdowns">
            <select class="lang-select">
              <option>English</option>
              <option>French</option>
              <option>Spanish</option>
              <option>Deutsch</option>
            </select>
            <select class="cur-select">
              <option>USD</option>
              <option>EUR</option>
              <option>ARS</option>
              <option>AUD</option>
              <option>BGN</option>
              <option>BRL</option>
              <option>CAD</option>
              <option>MYR</option>
            </select>
          </div>
        </div>
        <div class="col-2 offset-1">
          <h4>Company</h4>
          <ul class="list">
            <li>About</li>
            <li>Careers</li>
            <li>Press</li>
            <li>Blog</li>
            <li>Help</li>
            <li>Policies</li>
            <li>Disaster Response</li>
            <li>Terms & Privacy</li>
          </ul>
        </div>
        <div class="col-2">
          <h4>Discover</h4>
          <ul class="list">
            <li>Trust & Safety</li>
            <li>Travel Credit</li>
            <li>Gift Cards</li>
            <li>Airbnb Picks</li>
            <li>Mobile</li>
            <li>Airbnb Action</li>
            <li>Business Travel</li>
            <li>Site Map</li>
          </ul>
        </div>
        <div class="col-2">
        <h4>Hosting</h4>
        <ul class="list">
          <li>Why Host<li>
          <li class="new">Refer Hosts<li>
          <li>Hospitality<li>
          <li>Responsible Hosting<li>
          <li>Home Safety<li>
          <li>Instant Book<li>
        </ul>
      </div>
      </div>
    </footer>
    <footer class="bottom-footer">
      <h5>Join Us On</h5>
      <ul class="social">
        <li><a class="facebook" href=#></a></li>
        <li><a class="google" href=#></a></li>
        <li><a class="pinterest" href=#></a></li>
        <li><a class="youtube" href=#></a></li>
        <li><a class="instagram" href=#></a></li>
        <li><a class="linkedin" href=#></a></li>
      </ul>
      <p>&copy; Clonebnb, Inc.</p>
    </footer>
  </div>
</div>
</body>
</html>