<footer class="ct-footer">
  <div class="container">
    <!-- <div class="col-3 offset-1"> -->
    <ul class="ct-footer-list text-center-sm">
      <li>
      <div class="dropdowns">
        <select class="lang-select">
          <option>English</option>
          <option>French</option>
          <option>Spanish</option>
          <option>Deutsch</option>
        </select>
        <select class="cur-select">
          <option>USD</option>
          <option>EUR</option>
          <option>ARS</option>
          <option>AUD</option>
          <option>BGN</option>
          <option>BRL</option>
          <option>CAD</option>
          <option>MYR</option>
        </select>
      </div>
      </li>
      <li>
        <h2 class="ct-footer-list-header">Company</h2>
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Press</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Help</a></li>
          <li><a href="">Policies</a> </li>
          <li><a href="">Terms & Privacy</a></li>
        </ul>
      </li>
      <li>
        <h2 class="ct-footer-list-header">Discover</h2>
        <ul>
          <li><a href="">Trust & Safety</a></li>
          <li><a href="">Travel Credit</a></li>
          <li><a href="">Gift Cards</a></li>
          <li><a href="">Airbnb Picks</a></li>
          <li><a href="">Mobile</a></li>
          <li><a href="">Airbnb Action</a> </li>
          <li><a href="">Business Travel</a></li>
          <li><a href="">Site Map</a></li>
        </ul>
      </li>
      <li>
        <h2 class="ct-footer-list-header">Hosting</h2>
        <ul>
          <li><a href="">Why Host</a><li>
          <li class="new">Refer Hosts<li>
          <li><a href="">Hospitality</a><li>
          <li><a href="">Responsible Hosting</a><li>
          <li><a href="">Home Safety</a><li>
          <li><a href="">Instant Book</a><li>
        </ul>
      </li>
      <li>
      </li>
    </ul>
    <div class="ct-footer-meta text-center-sm">
      <div class="row">
        <div class="col-sm-6 col-md-4 ct-u-paddingTop10">
          <ul class="social">
            <li><a class="facebook" href=#></a></li>
            <li><a class="google" href=#></a></li>
            <li><a class="pinterest" href=#></a></li>
            <li><a class="youtube" href=#></a></li>
            <li><a class="instagram" href=#></a></li>
            <li><a class="linkedin" href=#></a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-2">
          <address>
            <span><p>Clonebnb, Inc.</p></span>Fake Address<br>
            Fake city and ZIP<br>
            <span>Phone: <a href="tel:5555555555">(555) 555-55555</a></span>
          </address>
        </div>
        <div class="col-sm-6 col-md-2 ct-u-paddingTop10">
          <a href="" target="_blank"><img alt="app store" src="https://www.solodev.com/assets/footer/appstore.png"></a>
        </div>
        <div class="col-sm-6 col-md-2 ct-u-paddingTop10">
          <a href="" target="_blank"><img alt="google play store" src="https://www.solodev.com/assets/footer/androidstore.png"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="ct-footer-post">
    <div class="container">
      <div class="inner-left">
        <ul>
          <li>
            <a href="">FAQ</a>
          </li>
          <li>
            <a href="">News</a>
          </li>
          <li>
            <a href="">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="inner-right">
        <p>&copy; Clonebnb, Inc | 2018 Clonebnb.&nbsp;.</p>
          <a href="">Privacy Policy</a>
        </p>
        <p>
          <a class="ct-u-motive-color" href="" target="_blank"></a> Web Design by  <a href="" target="_blank">fedejimenez</a>
        </p>
      </div>
    </div>
  </div>
</footer>